[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"

[project]
name = "polars-tdigest"
requires-python = ">=3.12"
dynamic = ["version"]
dependencies = [
  "polars>=1.34.0",
]
classifiers = [
  "Programming Language :: Rust",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
authors = [
  {name = "Thomas Lutterbeck", email = "thomas.lutterbeck@appian.com"},
  {name = "Ingolfur Edvardsson", email = "ingo.edvardsson@gresearch.co.uk"},
]

[project.optional-dependencies]
# Developer environment (used with: `pip install -e ".[dev]"`)
dev = [
  "maturin>=1.0,<2.0",
  "pre-commit>=4.3.0",
  "ruff>=0.5.0",
  "pytest>=8.0.0",
  "numpy>=2.3.3"
]

[tool.maturin]
bindings = "pyo3"
features = ["python"]
version = "from-cargo-toml"